In [30]:
# Dependencies
import pandas as pd
from pathlib import Path

# Load data files
school_data_path = Path("Resources/schools_complete.csv")
student_data_path = Path("Resources/students_complete.csv")

# Read data files into dataframes
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# combine dataframes into one
school_data_all = pd.merge(student_data, school_data, how="left", on=["school_name","school_name"])

# print results thus far
school_data_all.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

<font size = "7"> District Summary </font>

In [36]:
# Total number of schools
school_count = school_data_all['School ID'].nunique()

school_count

15

In [32]:
# Total number of students
student_count = school_data_all['Student ID'].count()

student_count

39170

In [37]:
# Total budget (using only school_data df)
total_budget = school_data['budget'].sum()

total_budget

24649428

In [39]:
# Average math score
avg_math_score = school_data_all['math_score'].mean()

avg_math_score

78.98537145774827

In [40]:
# Average reading score
avg_reading_score = school_data_all['reading_score'].mean()

avg_reading_score

81.87784018381414

In [41]:
# % of students passing math
passing_math_count = school_data_all[(school_data_all["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = (passing_math_count / float(student_count)) * 100

passing_math_percentage

74.9808526933878

In [42]:
# % of students passing reading
passing_reading_count = school_data_all[(school_data_all["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = (passing_reading_count / float(student_count)) * 100

passing_reading_percentage

85.80546336482001

In [43]:
# % of students passing math AND reading
passing_both_count = school_data_all[(school_data_all["math_score"] >= 70) & (school_data_all["reading_score"] >= 70)].count()["student_name"]
passing_both_percentage = (passing_both_count / float(student_count)) * 100

passing_both_percentage

65.17232575950983